@import '_config.scss';

.hero {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover no-repeat url('../images/bg-image.jpg');
}

.inner-container {
  width: 40%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  opacity: 0.9;
  font-family: $font-primary;
  > * {
    text-align: center;
    margin: 10px;
  }
}

.inner-container-text {
  > p {
    font-family: 'Helvetica';
    font-size: 1.3rem;
    color: #1d252c;
    line-height: 25.6px;
  }
  > h1 {
    font-size: $font-size-large;
    font-weight: 100;
  }
}

.hero-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  margin: 40px 0;
}
