@import '_config.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px $global-margin-y;
  font-family: $font-secondary;
}

.logo {
  width: 126px;
}

nav {
  font-size: $font-size-normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div {
  margin: 0 3.4rem;
}

.links {
  text-decoration: none;
  color: black;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section-icon {
  margin: 0 1rem;
}
