@import '_config.scss';

.products-page {
  margin: 0 $global-margin-y;
  text-align: center;
  padding: 4rem 0;
  font-family: $font-primary;
}

.heading {
  margin: 0 0 4.5rem;
  h1 {
    font-weight: 500;
    color: $color-title;
    font-size: $font-size-large;
    letter-spacing: -0.9 px;
  }

  p {
    font-size: 1.2rem;
    color: #5e6e89;
  }
}
.products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-item {
  width: fit-content;
  padding: 0 0 10px 0;
  box-shadow: -2px 6px 22px 16px #f7f7f7;
  margin: 20px;
  > p {
    padding: 10px 20px 2px;
  }
}

.product-image {
  background-color: #f7f8fa;
}

.product-name {
  color: $color-title;
  font-size: 1.2rem;
}

.product-price {
  color: $color-green;
  font-family: 'Roboto';
  font-size: 1.2rem;
  float: right;
}
