@import '_config.scss';

%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  transition: 0.3s;

  &:hover {
    background-color: darkgreen;
  }
}

.btn-primary {
  @extend %btn;
  background-color: $color-green;
  color: white;
}
