//margin and padding classes

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.woff2') format('woff2');
}

$global-margin-y: 0 10.5rem;
$font-size-normal: 1rem;
$font-secondary: 'Roboto';
